.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.nav__logo {
  width: 105px;
  height: 39px;
  position: relative;
  top: 0;
  left: -50px;
}

.nav__links {
  display: flex;
  padding: 0;
  margin: 0;
  list-style-type: none;
  column-gap: 20px;
}

.nav__link {
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  color: #000000;
  transition: color 0.2s ease;
}

.nav__link:hover {
  color: #2f80ed;
}
